@page "/adoptions/create"
@using Microsoft.EntityFrameworkCore
@using PawfectMatch.Components.Pages.Models
@inject IDbContextFactory<PawfectMatch.Data.PawfectMatchContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Adoption</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Adoption" OnValidSubmit="AddAdoption" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label> 
                <InputText id="email" @bind-Value="Adoption.Email" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Adoption.Email" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dogname" class="form-label">DogName:</label> 
                <InputText id="dogname" @bind-Value="Adoption.DogName" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Adoption.DogName" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dogid" class="form-label">DogId:</label> 
                <InputNumber id="dogid" @bind-Value="Adoption.DogId" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Adoption.DogId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="submissiondate" class="form-label">SubmissionDate:</label> 
                <InputDate id="submissiondate" @bind-Value="Adoption.SubmissionDate" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Adoption.SubmissionDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="additionalcomments" class="form-label">AdditionalComments:</label> 
                <InputText id="additionalcomments" @bind-Value="Adoption.AdditionalComments" class="form-control" /> 
                <ValidationMessage For="() => Adoption.AdditionalComments" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/adoptions">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Adoption Adoption { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddAdoption()
    {
        using var context = DbFactory.CreateDbContext();
        context.Adoption.Add(Adoption);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/adoptions");
    }
}
