@page "/about-us"
@rendermode InteractiveServer

<PageTitle>About US</PageTitle>


<h1>About Us</h1>


<h5> At PawfectMatch, we are dedicated to connecting loving families with rescue dogs in need of forever homes.</h5>
 <h5> Our mission is to give every dog a second chance at happiness by providing compassionate care, thorough adoption processes,  </h5>
    <h5> and ongoing support to ensure successful matches between pets and their new families. </h5>





   <div style="padding: 50px;">
    <img src="Images/dog1.jpg" alt="A cute dog" width="500ppx">
    <p>Riley, an odler dog who found a new home through Pawfect Match.</p>
</div>


@code {

}
