@page "/about-us"
@rendermode InteractiveServer

<PageTitle>About US</PageTitle>


<h1>About Us</h1>


<h5> At PawfectMatch, we are dedicated to connecting loving families with rescue dogs in need of forever homes.</h5>
 <h6> • Our mission is to give every dog a second chance at happiness by providing compassionate care, thorough adoption processes,  
        and ongoing support to ensure successful matches between pets and their new families. </h6>


   <div style="padding: 50px;">
    <img style="margin-right: 50px;" src="Images/dog1.jpg" alt="A cute dog" width="500ppx"> 
     <p>Riley, an older dog who found a new home through Pawfect Match.</p>
    <img src="Images/dog2.jpg" alt="A cute dog" width="500ppx"> 
    <p>A, an older dog who found a new home through Pawfect Match.</p>
   </div>

   <div>
      <h5>Founded in 2015, Pawfect Match began with a simple mission: to connect loving families with rescue dogs in need of a forever home.</h5>
      <h5>With a deep passion for animal welfare, we work tirelessly to ensure each adoption is a perfect match, creating bonds that last a lifetime. </h5> 
      </div>
@code {

}
