@page "/dogsearch"
@using PawfectMatch.Components.Pages.Models
@using PawfectMatch.Components.Services
@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Components
@inject DogService DogService
@rendermode InteractiveServer
<PageTitle>Dog Search</PageTitle>

<h1>Dogs Available for Adoption</h1>
<ul>
    @foreach (var dog in dogs)
    {
        <li>
            <img src="images/@dog.ImageUrl" alt="@dog.Name" style="width:200px;height:200px;" />
            <p>Name: @dog.Name</p>
            <p>Breed: @dog.Breed</p>
            <p>Age: @dog.Age</p>
            <button @onclick="() => NavigateToDetails(dog.Id)">View Dog</button>
        </li>
    }
</ul>
@code {
    private List<Dog> dogs;
    protected override async Task OnInitializedAsync()
    {
        dogs = await DogService.GetDogsAsync();
    }

    private void NavigateToDetails(int id)
    { // Log to console to verify click event is firing
        Navigation.NavigateTo($"/dogdetails/{id}");
    }

}