@page "/"

@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="home-container">
    <h3>Welcome to the Home Page!</h3>

    @if (isAuthenticated)
    {
        <p class="welcome-message">You are successfully logged in.</p>
    }
    else
    {
        <p class="login-prompt">Please log in to access more features.</p>
    }
</div>

@code {
    private bool isAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        isAuthenticated = user.Identity.IsAuthenticated;
    }
}
