@page "/policy"
@rendermode InteractiveServer

<PageTitle>Policy</PageTitle>

<h1>Policy</h1>


<div>
    <h3 style="margin-top: 30px;" > 
        Our Commitment
        <p> 
            <h6>
           We are dedicated to ensuring the safety, health, and happiness of every dog in our care. Our policies are designed to match each dog with a loving and responsible adopter.
           </h6>
           <h6>
               To ensure our dogs go to the loving home they deserve, the adopter must go through a list of requirments that would make the adopter eligible to adopt.
           </h6>

           <h3 style="margin-top: 30px;" > Adopter Requirements </h3>
           <h6> • Adopters must be at least 18 years old.  </h6>
            <h6>• A valid photo ID is required to verify identity and residency. </h6>
           <h6>• All members of the household must agree to the adoption. </h6>
           <h6> • Landlord approval is required for renters. </h6>
                    
        </p>
    </h3>

</div>

@code {
  
}
